.header_get{
    background-color: antiquewhite;
    height: 500px;
    
    padding-left: 80px;
    padding-right: 300px;
    padding-top: 8px
}

.h1_name{
    text-align: center;
}

.lorem{
    text-align: center;
}

.container{

    display: grid;

    grid-template-columns: 425px 1fr;

}

.logo{
    text-transform: uppercase;
    font-size: 25px;
}

.menu li{
    display: inline;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.menu{
    margin-top: 30px;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.my_photo{
    height: 50px;
    padding-left: 100px;
}

.my_photo2{
    height: 150px;
    padding-left: 100px;
    border: 1px solid gainsboro;
}

.model{
    border: 1px solid gainsboro;
}