.header_get{
    background-color: antiquewhite;
    height: 500px;
    
    padding-left: 80px;
    padding-right: 300px;
    padding-top: 8px
}

.h1_name{
    text-align: center;
}

.lorem{
    text-align: center;
}

.container{


    display: grid;

    grid-template-columns: 425px 1fr;
}

.logo{
    text-transform: uppercase;
    font-size: 25px;
}

.menu li{
    display: inline;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.menu{
    margin-top: 30px;
}
